/*********************** hide error ****************************/
.shiny-output-error { visibility: hidden; }
.shiny-output-error:before { visibility: hidden;}

/*********************** basic selectors ****************************/
body, label, input, button, select { 
    font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
    font-weight: 100;
    	color: #494949;
    		font-size: 13px;
  }
  
 button {
  background-color: #509ac7;
}

#leaflet {height: calc(100vh) !important;
 padding: 0;
  margin: 0;
}

/*
#divPlot {
  padding: 0;
  margin-left: -2em;
  margin-right: -2em;
  height: calc(100vh);
    border: 2px white;

}


body {
    background-color: #000000;

}
*/

#main {
margin: 0;
padding: 0;
}

/*********************** slider ****************************/
.irs-bar {width: 100%; height: 5px; background:#ececec; color: #ececec;}
.irs-bar-edge {background:#ececec; height: 5px; color: #ececec;}
.irs-line { height: 5px;color: #ececec;}
.irs-grid-pol {color: #ececec;}

.irs-max {color: #ececec; background: transparent;}
.irs-min {color: #ececec; background: transparent;}
.irs-single {color: #ececec; background: transparent;}
.irs-from {color: #ececec; background: transparent;}
.irs-to {color: #ececec; background: transparent;}
.irs-slider {width: 15px; height: 15px; top: 20px; color: #ececec;}
.slider-animate-button {
  display: inline; color: #ececec; opacity: 1;
}
.slider-animate-button {
  display: inline; color: #ececec; opacity: 1;
}
.slider-animate-container {
      text-align: right;
      margin-top: -25px;
    }

.slider-animate-button .play {
  color: #ececec; opacity: 1
}

.slider-animate-button .pause {
  color: #ececec; opacity: 1
}

/********************** panels ****************************/
.panel {
  background-color: #000000;
  padding: 0;
  border-color: black;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
}

/*********************** navbar css ****************************/
.navbar-default {
    box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
}
.navbar-default {
  background-color: #2c3e50;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #18bc9c;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777777;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #18bc9c;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #1a242f;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #1a242f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1a242f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #1a242f;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #18bc9c;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #1a242f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #18bc9c;
}
.navbar-default .btn-link {
  color: #ffffff;
}



